<fieldset>
	<legend><samp>card.component.html</samp></legend>
	<dl>
		<dt>Identity</dt>
		<dd><pre><samp>{{ identity | json }}</samp></pre></dd>

		<dt>Attributes</dt>
		<dd><pre><samp>{{ attributes | json }}</samp></pre></dd>

		<dt><samp>element</samp></dt>
		<dd><pre><samp>{{ element }}</samp></pre></dd>

		<dt><samp>shouldPreview</samp></dt>
		<dd><pre><samp>{{ shouldPreview }}</samp></pre></dd>

		<dt><samp>previewClass</samp></dt>
		<dd><pre><samp>{{ previewClass }}</samp></pre></dd>
	</dl>
</fieldset>

<!--<form {...markupAttrs}-->
<form
	class="c-card c-card--options-count-1"
	[class.isPreview]="previewClassName"
	[attr.data-element]="element">

	<fieldset [disabled]="shouldPreview" id="card-ident">
		<legend>Card Identity</legend>

<!--
		<NameInput id="card-ident-name" className="c-card__name"
			label="Name" desc="The name of the enchanted item"
			value={identity.name} />

		<ShapeInput id="card-ident-shape" className="c-card__metadata"
			label="Form" desc="The common form of the enchanted item"
			outputClassName="c-card__figure"
			value={identity.shape} shapes={itemShapes}
			placeholder="Choose a shape"
			required />

		<DescInput id="card-ident-desc" className="c-card__desc"
			label="Description" desc="A description of the enchanted item"
			value={identity.desc} />
-->
		<element-input id="card-ident-element" class="c-card__metadata"
			label="Element" desc="The elemental power of the enchanted item"
			placeholder="Choose an element"
			[value]="element"
			(valueChange)="handleElementChange( $event )"></element-input>
	</fieldset>

<!--
	<!-- FAQ: Can not use `<fieldset>` with `display: flex` --
	<!-- SEE: https://bugs.chromium.org/p/chromium/issues/detail?id=375693 --
	<!-- SEE: https://github.com/w3c/csswg-drafts/issues/321 --
	<section disabled={shouldPreview} id="card-attr"
		role="group" aria-labelledby="card-attr-list-title"
		data-replaced-tag="fieldset">
		<span id="card-attr-list-title"
			data-replaced-tag="legend">Card Attributes</span>

		<Gallery tagName="ul" childTagName="li" childClassName="c-card__attr">
			<AttributeInput id="card-attr-power"
				label="Power" desc="How many units stronger or weaker"
				min={-3} max={3} step={1} value={attributes.power} />

			<AttributeInput id="card-attr-speed"
				label="Speed" desc="How many units faster or slower"
				min={-3} max={3} step={1} value={attributes.speed} />

			<AttributeInput id="card-attr-defense"
				label="Defense" desc="How many units less or more vulnerable"
				min={-3} max={3} step={1} value={attributes.defense} />
		</Gallery>
	</section>

	-->
	<fieldset id="card-opts" class="c-card__options">
		<toggle fieldId="card-toggle-preview"
			label="Preview Card" desc="Preview approximate final state of card"
			[isOn]="shouldPreview"
			(isOnChange)="handlePreviewToggleChange( $event )"></toggle>
	</fieldset>
	<!--
</form>
-->
