/* Generics */

* { box-sizing: border-box; }

html {
  /* FAQ: Makes `1.0rem` equal `10px` */
  /* SEE: http://snook.ca/archives/html_and_css/font-size-with-rem */
  font-size: 62.5%;
}

body,
input, select, textarea {
  color: #333333;
  font: 1.8rem/1.5 "Georgia", Times, serif;
}
/* NOTE: Let `select` element retain browser styles; overriding those is out of scope */
input, textarea {
  padding: 0;
  border: 1px solid;
}

/* WARN: Form element borders and changing background cause a11y issues */
:focus {
  outline: 3px dotted black;
  outline-offset: 2px;
}

/* Elements */

/* Elements: Content Sectioning */

header h1 { margin-bottom: 0; }
header p  { margin-top: 0; }

/* Elements: Forms */

/* RFE: For non-pointer devices (via media query), show `[title]` attributes as content */
label:not(input[type="checkbox"] + label) {
  display: block;
}
label:not(input[type="checkbox"] + label)::after {
  content: ":";
  margin-left: 0.05em;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
legend {
  width: 100%;
  padding: 0;
  margin-bottom: 0.5em;

  text-align: center;
  font-weight: bold;
}
fieldset + fieldset legend {
  margin-top: 0.5em;
}

/* Components */

/* Components: Card */

.c-card {
  width: 25rem;
  min-height: 35rem;
  padding: 1rem;
  position: relative; /* For absolutely-positioned children */

  border: 1px solid black;
  border-radius: 1rem;
}
.c-card[data-value="earth"] { background-color: darkseagreen; }
.c-card[data-value="water"] { background-color: lightblue; }
.c-card[data-value="air"]   { background-color: lightyellow; }
.c-card[data-value="fire"]  { background-color: indianred }
/* Make space for card options */
.c-card--opts-count-1 {
  /* FAQ: Avoiding `calc` and `var` to reduce protype complexity */
  margin-top: calc( (1.5 * 1.8rem) + 0.5em ); /* line-height × font-size + space */
}

.c-card__name,
.c-card__figure,
.c-card__desc,
.c-card__metadata {
  display: block;
  width: 100%;
}

.c-card__name {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.c-card__figure {
  height: 10rem;

  border: 1px solid black;
  border-radius: 1rem;

  background: white none center/contain no-repeat;
}
/* FAQ: I would use SVG, but https://icons8.com wants my money */
/* RFE: Use 2x and 4x resolution as necessary (skipping for prototype) */
/* RFE: I could be efficient if `attr()` was available for all properties… */
.c-card__figure[data-value="hat"] { background-image: url("/assets/icon/hat.png"); }
.c-card__figure[data-value="glove"] { background-image: url("/assets/icon/glove.png"); }
.c-card__figure[data-value="boot"] { background-image: url("/assets/icon/boot.png"); }
.c-card__figure[data-value="mask"] { background-image: url("/assets/icon/mask.png"); }

.c-card__desc {
  margin: 0.5rem 0;
  /* FAQ: Avoiding `calc` and `var` to reduce protype complexity */
  height: calc( 1.5 * 1.6rem * 3 ); /* line-height × font-size × line count */
  resize: none;

  font-size: 1.6rem;
  text-align: center;
}

/* Distinguish options from entry fields */
.c-card--opts-list {
  position: absolute;
  bottom: 100%;
  right: 0;
}

.c-card__attr-list {
  display: flex;
  flex-flow: row wrap;
}
/* Prevent dangling `c-card__attr` from stretching */
.c-card__attr-list::after {
  content: "";
  flex-grow: 3; /* equal to `flex-grow` values of `c-card__attr` children */
}

.c-card__attr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex-grow: 3; /* that of `…-key` + that of `…-value` */
}
.c-card__attr-key,
.c-card__attr-value,
.c-card__attr {
  flex-basis: 0;
}
/* Move input to end of box */
.c-card__attr .c-card__attr-key { order: 1; }
.c-card__attr .c-card__attr-value { order: 2; }
.c-card__attr .c-card__attr-input { order: 3; }
/* Force wrap after two pairs */
.c-card__attr-value:nth-child(4n),
.c-card__attr:nth-of-type(2n) {
  break-after: always;
}

.c-card__attr-key { flex-grow: 2; text-align: right; }
.c-card__attr-key::after {
  content: ":";
  margin-right: 0.2em;
}
.c-card__attr-key + .c-card__attr-key::after {
  margin-left: 0.2em;
}

.c-card__attr-value { flex-grow: 1; text-align: left; }
.c-card__attr-value.is-positive::before {
  content: "+";
}

.c-card__attr-input {
  width: 100%;
}

/* Trumps */

/* Trumps: Scope: Card Preview */

.s-card-preview #card-ident label,
.s-card-preview #card-attr input,
.s-card-preview select,
.s-card-preview legend {
  display: none;
}
.s-card-preview input,
.s-card-preview textarea {
  border: none;
  background: transparent;
}
.s-card-preview textarea {
  scroll: none;
}